<div *ngIf="!submitted" class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Register</h2>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
                    <div *ngIf="username.invalid">
                        <div *ngIf="username.errors.pattern && username.dirty" class="alert alert-danger error">
                            The username must be between 6 and 10 symbols and include only letters, numbers and underscores.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
                    <div *ngIf="email.invalid">
                        <div *ngIf="email.errors.email && email.dirty" class="alert alert-danger error">
                            Email is badly formatted.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
                    <div *ngIf="password.invalid">
                        <div *ngIf="password.errors.pattern && password.dirty" class="alert alert-danger error">
                            The password must be at least 6 symbols long and contain at least one uppercase, lowercase and a number.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!registerForm.valid">Submit</button>
            </form>
        </div>
        <div *ngIf="error" class="col-sm-8 col-sm-offset-2 alert alert-danger error text-center">
            {{errorMessage}}
        </div>
    </div>
</div>
<div *ngIf="submitted" class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="succsess">Successfully registered.</h2>
    </div>
</div>
<div class="separator">

</div>