/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-image: url('./assets/images/paper-world-map-travel-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 1220px;
  font-family: 'Ubuntu', sans-serif;
}

html {
  position: relative;
}
