/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  min-height: 1220px;
  font-family: 'Ubuntu', sans-serif;
}
html {
    position: relative;
}