<div class="container">
    <div class="row">
        <div class="col-sm-5 col-offset-3">
            <h2>Profile:</h2>
            <form [formGroup]="namesForm" (ngSubmit)="namesUpdateSubmit()" novalidate>
                <div class="form-group">
                    <label for="firstName">First name:</label>
                    <input type="text" class="form-control" id="firstName" [value]="userData.firstname || 'You havn\'t assigned firstname yet.'"
                        formControlName="firstName">
                    <p>{{(user | async)?.email}}</p>
                    <!-- <div *ngIf="firstName.invalid">
                                    <div *ngIf="username.errors.pattern && username.dirty" class="alert alert-danger">
                                        The username must be between 6 and 10 symbols and include only letters, numbers and underscores.
                                    </div>
                                </div> -->
                </div>
                <div class="form-group">
                    <label for="lastName">Last name:</label>
                    <input type="text" class="form-control" id="lastName" [value]="userData.lastname || 'You havn\'t assigned lastname yet.'"
                        formControlName="lastName">
                    <!-- <div *ngIf="lastName.invalid">
                                    <div *ngIf="email.errors.email && email.dirty" class="alert alert-danger">
                                        Email is badly formatted.
                                    </div>
                                </div> -->
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!firstName.valid || !lastName.valid">Change</button>
            </form>
        </div>
    </div>
</div>

<p>Gender</p>
<p>Phone number:</p>
<p>Picture:</p>
<p>Say something about you:</p>
<p>Birth date:</p>