<div class="container-fluid sub-header">
    <div class="container">

    </div>
    <div class=wrapper>
        <h1>NoTicket</h1>
        <h2>Find or offer the best way to travel from one place to another.</h2>
    </div>
</div>
<div class="container-fluid main-wrapper">
    <main class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 anchor-container">
                <div class="col-xs-12 col-sm-6 anchor-wrapper">
                    <a routerLink="/trips" class="search">Find trip</a>
                </div>
                <div class="col-xs-12 col-sm-6 anchor-wrapper">
                    <a routerLink="/trips/create" class="create">Create trip</a>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="container-fluid trips-header">
    <div class="container">
        <h1>Most recent trips</h1>
    </div>
</div>
<div class="container-fluid some-content">
    <div class="container trips-info-wrapper">
        <div class="row">
            <div *ngFor="let trip of tripsList" class="col-sm-6">
                <app-home-trip-item [trip]="trip"></app-home-trip-item>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>