<div class="container wrapper ">
    <div class="row">
        <h2 class="text-center">Create new trip</h2>
        <form [formGroup]="tripForm" (ngSubmit)="submitTripData(tripForm.value)">

            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label>Departure city: </label>
                    <select formControlName="fromCity" class="form-control">
                        <option *ngFor="let town of towns" [value]="town">{{town}}</option>
                    </select>
                </div>
            </div>


            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label>Arrival city: </label>
                    <select formControlName="toCity" class="form-control">
                        <option *ngFor="let town of towns" [value]="town">{{town}}</option>
                    </select>
                </div>
            </div>


            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label for="date">Departure date: </label>
                    <ng2-datepicker id="date" [options]=datePickerOptions formControlName="date"></ng2-datepicker>
                </div>
            </div>

            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label for="depTime">Departure time: </label>
                    <timepicker formControlName="departureTime" id="depTime" [showMeridian]="false"></timepicker>
                </div>
            </div>
            <div class="col-sm-4 err-msg" *ngIf="departureTime.invalid && departureTime.dirty">
                Time format is invalid.
            </div>


            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label for="price">Price: </label>
                    <input type="number" class="form-control" id="price" formControlName="price">
                </div>
            </div>
            <div class="col-sm-4 err-msg" *ngIf="price.invalid">
                The price range is 1 to 100 BGN.
            </div>



            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label for="seats">Seats: </label>
                    <input type="number" class="form-control" id="seats" formControlName="seats">
                </div>
            </div>
            <div class="col-sm-4 err-msg" *ngIf="seats.invalid">
                    The maximum number of seats is 5.
                </div>


            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label for="luggage">Luggage size:</label>
                    <select formControlName="luggage" class="form-control" id="luggage">
                        <option  value="small">small</option>
                        <option  value="middle">middle</option>
                        <option  value="large">large</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                    <div class="form-group">
                        <label for="cars">Car list:</label>
                        <select formControlName="cars" class="form-control" id="cars">
                            <option *ngFor="let car of carList" [value]="car.make + ' ' + car.model">{{car.make}} {{car.model}}</option>
                        </select>
                    </div>
                </div>

            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <div class="form-group">
                    <label for="additionalComment">Additional comment: </label>
                    <textarea class="form-control" id="additionalComment" formControlName="additionalComment"></textarea>
                </div>
            </div>

            <div class="col-sm-5 col-sm-offset-2 input-wrapper">
                <input type="submit" class="btn btn-success submit" value="Create trip" [disabled]="!tripForm.valid">
            </div>
        </form>
    </div>
</div>