<div *ngIf="show" class="container wrapper">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 title-wrapper">
      <h1 class="details-title">Trip details:</h1>
    </div>
    <div class="col-sm-8 col-sm-offset-2 info-wrapper">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center destination">
          {{trip.fromCity}} - {{trip.toCity}}
        </div>
        <div class="col-sm-8 col-sm-offset-2 departure info-section">Departure on:
          <div class="right-field">
            {{trip.date}} at {{trip.departureTime.hours}} : {{trip.departureTime.minutes}}
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 price info-section">
          Price per seat:
          <div class="right-field">
            {{trip.price}}
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 driver info-section">
          Your driver:
          <div class="img-container-wrapper">
            <div class="img-container">
              <img [src]="driver.profileImageUrl" alt="Current user's profile picture.">
            </div>
            <span class="username">{{driver.username}}</span>
          </div>
        </div>
        <div *ngIf="trip.car" class="col-sm-8 col-sm-offset-2 vehicle info-section">
          Vehical:
          <div class="right-field">
            {{trip.car}}
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 luggage info-section">
          Luggage size:
          <div class="right-field">
            {{trip.luggage}}
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 seats info-section">
          <div>
            Still available seats:
            <div class="right-field">
              {{trip.freeSeats}}
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-sm-offset-2 seats info-section" *ngIf="trip.passengers">
          <div>
            Passengers:
            <div class="right-field">
              <ul>
                <li *ngFor="let passangerr of trip.passengers">
                  {{passangerr.username}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="trip.additionalComment != '{}'" class="col-sm-8 col-sm-offset-2 add-info info-section">
          Additional comments:
          <div class="comments">
            {{trip.additionalComment}}
          </div>
        </div>
        <div class="col-sm-12 text-center submit-button">
          <button class="btn btn-primary" (click)="reserveSeat()" [disabled]="isButtonDisabled">Take your seat!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="!show"></app-loader>
