.navbar {
    background-color: #f7d25e;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: 0 0 5px #3d370d;
}

.navbar-brand,
.navbar-nav li a {
    font-size: 16px;
    color: #3d370d;
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.navbar-brand {
    color: #3d370d;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.navbar-brand:hover {
    background-color: #f1f1a1;
    transition: background-color 0.7s;
}

.navbar-nav li a:focus {
    transition: 0.3s;
    background-color: #BE6E6C ;
    color: white;
}

.navbar-nav li a:hover {
    background-color: #f1f1a1;
    color: #3d370d;
    transition: background-color 0.7s;
    transition: color 0.3s;
}

.navbar-toggle {
    border-color: black;
}

.icon-bar {
    background-color: black;
}

.dropdown-menu {
    left: 0;
}

